body{
    font: normal 14pt Arial;
    background: white;
}

header{
    text-align: center;
    color: rgb(72, 72, 219);
}

section{
    background: white;
    width: 500px;
    height: 450px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.705);
    padding: 15px;
}

div{
    margin-top: 15px;
}

div#res{
    text-align: center;
    margin-top: 60px;
}

footer{
    text-align: center;
    color: rgb(72, 72, 219);
    font-style: italic;
}